tensorboardX
tqdm
easydict
prettytable
PyYAML
opencv-python
imageio-ffmpeg
matplotlib
roma
ipdb
pytorch-metric-learning                         # For one-shot action recognition
smplx[all]                                      # For mesh recovery
